@CHARSET "ISO-8859-1";
body {
	padding: 20px;
}
h1 {
	font-size: 32px;
}

#leftColumn, #rightColumn {
	margin-top: 20px;
	padding: 20px;
	display: block;
	float: left;
	border: 1px solid black;
	height: 1500px;
}

#leftColumn {
	width: 610px;
}

#rightColumn{
 	float: right;
 	width: 310px;
 }
 
h2 {
	font-size: 20px;
	padding: 4px;
}

table {
	display: block;
	width: 580px;
	margin: 0 auto 0 auto;
	border-spacing: 0;
	border-collapse: collapse;
	
}

td {
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	
}